.backstage {
    background-image: url(../../assets/images/flower_backgroud.png);
    background-repeat: no-repeat;
    background-position: right center;

    @media (max-width: $desktop) {
        background-position: right calc(12vw - 204px) center;
    }

    @media (max-width: $desktop1) {
        background-position: right -102px center;
    }

    @media (max-width: $desktop2) {
        background-position: right -204px center;
    }

    @media (max-width: $tablet) {
        background-position: right -90px center;
    }

    @media (max-width: $mobile1) {
        background-position: right -35px top 15%;
        background-size: 20%;
    }
}

.backstage__wrapper {
    padding-top: 140px;
    padding-bottom: 100px;

    @media (max-width: $small-desktop) {
        padding-top: 100px;
        padding-bottom: 90px;

    }

    @media (max-width: $tablet) {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    @media (max-width: $mobile1) {
        padding-top: 20px;
        padding-bottom: 25px;
    }
}

.backstage__active {
    display: none;
    text-align: center;
    margin: 0px 0px 30px 0px;

    @media (max-width: $mobile) {
        display: block;
    }
}

.backstage__row {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
        display: block;
    }
}

.backstage__foto {
    flex: 0 0 auto;

    @media (max-width: $desktop) {
        flex: 0 1 50%;
        padding: 0px 43px 0px 0px;
    }

    @media (max-width: $small-desktop) {
        padding: 0px 15px 0px 0px;
    }

    @media (max-width: $tablet) {
        display: none;
    }

    img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.backstage__article {
    flex: 0 1 auto;
    padding: 0 0 0 87px;
    color: $black-blue;

    @media (max-width: $desktop) {
        flex: 0 1 50%;
        padding: 0px 0px 0px 43px;
    }

    @media (max-width: $small-desktop) {
        flex: 0 1 50%;
        padding: 0px 0px 0px 15px;
    }

    @media (max-width: $tablet) {
        padding: 0px 105px 0px 0px;
    }

    @media (max-width: $mobile1) {
        padding: 0px 15px 0px 0px;
    }
}

.backstage__title {
    margin: 0 0 20px 0;

    @media (max-width: $mobile1) {
        margin: 0 0 10px 0;

    }
}

.backstage__text {
    margin: 0 0 54px 0;
    @extend %simple-font;

    @media (max-width: $tablet) {
        margin: 0 0 30px 0;
    }

    @media (max-width: $mobile1) {
        margin: 0 0 20px 0;
    }
}

.backstage__subtitle {
    margin: 0 0 34px 0;
    @extend %subtitle-font;

    @media (max-width: $tablet) {
        margin: 0 0 20px 0;
    }

    @media (max-width: $mobile1) {
        margin: 0 0 10px 0;
    }
}

.backstage__basic-text {
    @extend %primary-font;
}