$green: #4b9200;
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange1: #FE9013;
$orange-hover: #e47209;
$red: #d31414;
$black-blue: #333b41;

$yellow: #ffee2e;
$orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$gray: #767474;
$gray1: #929699;
$gray4: #BDBDBD;
$gray-smoky: #ababab;
$light-gray: #f1f3f2;
$frosted-glass-white: rgba(253, 253, 255, 0.52);
$light: #fff;

$color-primary: $orange;
$color-secondary: $orange1;
$color-button-hover: $orange-hover;
$color-button-active: $green;
$color-input-invalid: $red;

//Font Color
$color-primary-font: $black-blue;
$color-secondary-font: $gray;
$color-light-font: #fff;
$color-dark-font: #000;


$numberSlideCarusel: 5;
$numberVisibleSlideCarusel: 5;

$max-width-content: 1160px;

//Breack point
$bp-menu: 641px;

$desktop: 1599px; //1600
$desktop1: 1440px;
$desktop2: 1280px;
$desktop3: 1220px;
$small-desktop: 1001px; //1000
$small-desktop1: 980px;
$pad: 768px;
$tablet: 641px; //640
$tablet1: 600px;
$mobile1: 360px;
$mobile: 321px; //320